body {
  @apply overscroll-none bg-transparent;
}

:root {
  --header-height: calc(var(--spacing) * 12 + 1px);
}

.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.6rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot="card"] {
    --spacing: 0.16rem;
  }

  [data-slot="select-trigger"],
  [data-slot="toggle-group-item"] {
    --spacing: 0.222222rem;
  }
}

 /* 主题特定字体设置 */
 .theme-retro-arcade {
  --font-sans: var(--font-outfit), sans-serif;
}

.theme-kodama-grove {
  --font-sans: var(--font-merriweather), sans-serif;
}