.theme-kodama-grove {
  --background: oklch(0.91 0.04 92.75);
  --foreground: oklch(0.36 0.06 91.04);
  --card: oklch(0.90 0.04 91.28);
  --card-foreground: oklch(0.39 0.06 90.11);
  --popover: oklch(0.91 0.04 92.75);
  --popover-foreground: oklch(0.36 0.06 91.04);
  --primary: oklch(0.48 0.09 121.58);
  --primary-foreground: oklch(0.99 0.01 88.64);
  --secondary: oklch(0.48 0.08 91.12);
  --secondary-foreground: oklch(0.98 0.01 95.16);
  --muted: oklch(0.86 0.06 93.75);
  --muted-foreground: oklch(0.45 0.07 91.54);
  --accent: oklch(0.86 0.06 93.75);
  --accent-foreground: oklch(0.28 0.04 91.26);
  --destructive: oklch(0.54 0.14 32.14);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.69 0.04 59.84);
  --input: oklch(0.84 0.07 90.33);
  --ring: oklch(0.73 0.06 130.85);
  --chart-1: oklch(0.73 0.06 130.85);
  --chart-2: oklch(0.68 0.06 132.45);
  --chart-3: oklch(0.82 0.03 136.65);
  --chart-4: oklch(0.59 0.05 137.62);
  --chart-5: oklch(0.52 0.04 137.19);
  --sidebar: oklch(0.88 0.05 91.79);
  --sidebar-foreground: oklch(0.36 0.06 91.04);
  --sidebar-primary: oklch(0.73 0.06 130.85);
  --sidebar-primary-foreground: oklch(0.99 0.01 88.64);
  --sidebar-accent: oklch(0.91 0.04 91.21);
  --sidebar-accent-foreground: oklch(0.36 0.06 91.04);
  --sidebar-border: oklch(0.91 0.02 88.00);
  --sidebar-ring: oklch(0.73 0.06 130.85);
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);

  @variant dark {
    --background: oklch(0.33 0.02 88.07);
    --foreground: oklch(0.92 0.02 82.12);
    --card: oklch(0.36 0.02 82.33);
    --card-foreground: oklch(0.92 0.02 82.12);
    --popover: oklch(0.36 0.02 82.33);
    --popover-foreground: oklch(0.92 0.02 82.12);
    --primary: oklch(0.68 0.06 132.45);
    --primary-foreground: oklch(0.27 0.01 61.02);
    --secondary: oklch(0.44 0.02 84.55);
    --secondary-foreground: oklch(0.92 0.02 82.12);
    --muted: oklch(0.39 0.02 82.71);
    --muted-foreground: oklch(0.71 0.02 73.62);
    --accent: oklch(0.65 0.07 90.76);
    --accent-foreground: oklch(0.27 0.01 61.02);
    --destructive: oklch(0.63 0.08 31.30);
    --destructive-foreground: oklch(0.94 0.02 84.59);
    --border: oklch(0.44 0.02 84.55);
    --input: oklch(0.44 0.02 84.55);
    --ring: oklch(0.68 0.06 132.45);
    --chart-1: oklch(0.68 0.06 132.45);
    --chart-2: oklch(0.73 0.06 130.85);
    --chart-3: oklch(0.59 0.05 137.62);
    --chart-4: oklch(0.65 0.07 90.76);
    --chart-5: oklch(0.52 0.04 137.19);
    --sidebar: oklch(0.33 0.02 88.07);
    --sidebar-foreground: oklch(0.92 0.02 82.12);
    --sidebar-primary: oklch(0.68 0.06 132.45);
    --sidebar-primary-foreground: oklch(0.27 0.01 61.02);
    --sidebar-accent: oklch(0.65 0.07 90.76);
    --sidebar-accent-foreground: oklch(0.27 0.01 61.02);
    --sidebar-border: oklch(0.44 0.02 84.55);
    --sidebar-ring: oklch(0.68 0.06 132.45);
    --radius: 0.425rem;
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
  }
}

.theme-retro-arcade {
  --background: oklch(0.97 0.03 90.10);
  --foreground: oklch(0.31 0.05 219.65);
  --card: oklch(0.93 0.03 92.40);
  --card-foreground: oklch(0.31 0.05 219.65);
  --popover: oklch(0.93 0.03 92.40);
  --popover-foreground: oklch(0.31 0.05 219.65);
  --primary: oklch(0.59 0.20 355.89);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.64 0.10 187.38);
  --secondary-foreground: oklch(1.00 0 0);
  --muted: oklch(0.70 0.02 196.79);
  --muted-foreground: oklch(0.31 0.05 219.65);
  --accent: oklch(0.58 0.17 39.50);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.59 0.21 27.12);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.65 0.02 205.26);
  --input: oklch(0.65 0.02 205.26);
  --ring: oklch(0.59 0.20 355.89);
  --chart-1: oklch(0.61 0.14 244.93);
  --chart-2: oklch(0.64 0.10 187.38);
  --chart-3: oklch(0.59 0.20 355.89);
  --chart-4: oklch(0.58 0.17 39.50);
  --chart-5: oklch(0.59 0.21 27.12);
  --sidebar: oklch(0.97 0.03 90.10);
  --sidebar-foreground: oklch(0.31 0.05 219.65);
  --sidebar-primary: oklch(0.59 0.20 355.89);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.64 0.10 187.38);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.65 0.02 205.26);
  --sidebar-ring: oklch(0.59 0.20 355.89);
  --radius: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);

  @variant dark {
    --background: oklch(0.27 0.05 219.82);
    --foreground: oklch(0.70 0.02 196.79);
    --card: oklch(0.31 0.05 219.65);
    --card-foreground: oklch(0.70 0.02 196.79);
    --popover: oklch(0.31 0.05 219.65);
    --popover-foreground: oklch(0.70 0.02 196.79);
    --primary: oklch(0.59 0.20 355.89);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.64 0.10 187.38);
    --secondary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.52 0.03 219.14);
    --muted-foreground: oklch(0.70 0.02 196.79);
    --accent: oklch(0.58 0.17 39.50);
    --accent-foreground: oklch(1.00 0 0);
    --destructive: oklch(0.59 0.21 27.12);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.52 0.03 219.14);
    --input: oklch(0.52 0.03 219.14);
    --ring: oklch(0.59 0.20 355.89);
    --chart-1: oklch(0.61 0.14 244.93);
    --chart-2: oklch(0.64 0.10 187.38);
    --chart-3: oklch(0.59 0.20 355.89);
    --chart-4: oklch(0.58 0.17 39.50);
    --chart-5: oklch(0.59 0.21 27.12);
    --sidebar: oklch(0.27 0.05 219.82);
    --sidebar-foreground: oklch(0.70 0.02 196.79);
    --sidebar-primary: oklch(0.59 0.20 355.89);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.64 0.10 187.38);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0.52 0.03 219.14);
    --sidebar-ring: oklch(0.59 0.20 355.89);
    --radius: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
    --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
    --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
    --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  }
}